.it-footer {
  z-index: 9999 !important;
  .it-footer-main {
  }
  .it-footer-small-prints {
    p {
      text-align: center;
      color: #fff;
      padding-top: 10px;
    }
  }
}

ul {
  list-style-type: none;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.red {
  background-color: #d6012e !important;
}

.imgFooter {
  max-width: 100%;
  height: 100%;
  max-height: 120px;
  margin: auto;
  display: block;
  width: auto\9; /* ie8 */
}
/* ==========================================================================
RUOLO
========================================================================== */
