.text-danger {
  color: red !important;
}

.float-right {
  float: right;
}

.red {
  background-color: #d8042c;
}

.white {
  color: white;
}

.bold {
  font-weight: bold;
}

.txt-sm {
  font-size: 0.9em;
}

.float-left {
  float: left;
}

.odd {
  background-color: white;
}

.even {
  background-color: whitesmoke;
}

.container-fluid {
  padding-left: 5.5em !important;
  padding-right: 5.5em !important;
}

.border-smoke {
  border-bottom-color: whitesmoke;
}

.pos-t {
  position: absolute;
  top: 0 !important;
  z-index: 999 !important;
  right: 0 !important;
}

@media (min-width: 1690px) {
  .min-wh-20 {
    min-width: 19%;
    margin-bottom: 10px;
  }
  .modal-dialog {
    width: 75%;
  }
}

@media (max-width: 1690px) {
  .min-wh-20 {
    min-width: 15%;
    margin-bottom: 10px;
  }
  .modal-dialog {
    overflow: scroll;
  }
}
