@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar {
  padding: 0.2rem 1rem;

  a.nav-link {
    font-weight: 700;
    color: white;
  }

  background-color: #d6012e;

  z-index: 1000;
}

/* ==========================================================================
Logo styles
========================================================================== */

@media (min-width: 1690px) {
  .font-philosopher {
    font-family: Philosopher-reg;
    color: white;
    font-size: 28px;
  }

  .logo-img {
    height: 80px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../content/images/logo-header-no-txt.png') no-repeat center center;
    background-size: contain;
  }
}

@media (max-width: 1690px) {
  .font-philosopher {
    font-family: Philosopher-reg;
    color: white;
    font-size: 20px;
  }

  .logo-img {
    height: 60px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../content/images/logo-header-no-txt.png') no-repeat center center;
    background-size: contain;
  }
}

.wrap-ente {
  word-wrap: break-word;
}

.b-primary {
  border: 1px solid #d6012e !important;
}

.pr-3 {
  padding-right: ($spacer) !important;
}

hr.line {
  border: none;
  background: linear-gradient(transparent -10%, white, transparent 110%);
  opacity: 100%;
  border-radius: 150%;
  height: 65px;
  width: 1.5px;
}
