.text-danger {
  color: red !important;
}

.float-right {
  float: right;
}

.red {
  background-color: #d8042c;
}

.white {
  color: white;
}

.bold {
  font-weight: bold;
}

.txt-sm {
  font-size: 0.9em;
}

.float-left {
  float: left;
}

.odd {
  background-color: white;
}

.even {
  background-color: whitesmoke;
}

.top-spinner {
  margin-top: 10%;
}

.importo {
  text-align: right;
}

textarea {
  border-style: none;
  border-color: Transparent;
  overflow: auto;
}
