<jhi-spinner></jhi-spinner>
<div class="container-fluid mt-4">
  <div class="row justify-content-between mb-4">
    <div class="col d-flex align-items-center">
      <h5 class="bold" *ngIf="this.id != ''" jhiTranslate="lisVal.detail.titleModify">Dettaglio Lista Valore</h5>
      <h5 class="bold" *ngIf="this.id == ''" jhiTranslate="lisVal.detail.titleNew">Nuova Lista Valore</h5>
    </div>
  </div>
  <!--alert modifica / inserimento -->
  <jhi-alert *ngIf="viewAlert"></jhi-alert>
  <jhi-alert-error *ngIf="viewError"></jhi-alert-error>

  <!-- Form modifica / inserimento nuovo -->
  <form [formGroup]="formLis" *ngIf="formLis">
    <div class="d-grid gap-3 d-md-block">
      <button
        (click)="submitForm()"
        class="btn btn-primary btn-sml btn-xs btn-me min-wh-20"
        *ngIf="modifica ? rolesCheckService.isPresent('/modificaListaValore') : rolesCheckService.isPresent('/inserisciListaValore')"
        data-bs-target="#myNotification"
        data-bs-timeout="5000"
      >
        <svg class="icon icon-white ms-1">
          <use href="content/bootstrap-italia/svg/sprites.svg#it-pencil"></use>
        </svg>
        <span>{{ stringSalva }}</span>
      </button>
      <button
        (click)="submitDelete()"
        class="btn btn-danger btn-sml btn-xs btn-me min-wh-20"
        *ngIf="this.id != '' && rolesCheckService.isPresent('/cancellaListaValore')"
      >
        <svg class="icon icon-white ms-1">
          <use href="content/bootstrap-italia/svg/sprites.svg#it-delete"></use>
        </svg>
        <span jhiTranslate="global.buttons.labelDelete">Cancella</span>
      </button>
      <button class="btn btn-primary btn-sml btn-xs btn-me min-wh-20 btnReload" (click)="reload()" *ngIf="this.id != ''">
        <div class="rotateRefresh d-inline-block">
          <svg class="icon icon-white ms-1">
            <use href="content/bootstrap-italia/svg/sprites.svg#it-restore"></use>
          </svg>
        </div>
        <span jhiTranslate="global.buttons.labelReload">Ricarica informazioni</span>
      </button>
    </div>
    <!-- Prima riga con codice, descrizione e tipfinda-->
    <div class="row mt-4">
      <div class="col-md-4 mb-3 mb-3">
        <label for="vallis" class="form-label-sm" jhiTranslate="lisVal.desnil">Descrizione*</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="!getFormElement('vallis').valid && getFormElement('vallis').touched ? 'is-invalid' : ''"
          id="vallis"
          formControlName="vallis"
          min="0"
          placeholder=" "
        />
        <small
          class="form-text text-danger"
          *ngIf="getFormElement('vallis').errors?.['required'] && getFormElement('vallis').touched"
          jhiTranslate="entity.validation.required"
          >Questo campo è obbligatorio</small
        >
      </div>
      <div class="col-md-4 mb-3">
        <label for="tiplis" class="form-label-sm" jhiTranslate="lisVal.tipoLista">Tipo Lista*</label>
        <div class="select-wrapper">
          <select
            id="tiplis"
            formControlName="tiplis"
            [disabled]="isRequestInProgress || (this.id !== '' && modifica)"
            [ngClass]="!getFormElement('tiplis').valid && getFormElement('tiplis').touched ? 'is-invalid' : ''"
          >
            <option value="" jhiTranslate="gestProg.select.default">Scegli un'opzione</option>
            <option [jhiTranslate]="'lisVal.code.' + tipLis.tiplis" *ngFor="let tipLis of tipiListaValore" [value]="tipLis.tiplis">
              {{ tipLis.vallis }}
            </option>
          </select>
          <small
            class="form-text text-danger"
            *ngIf="getFormElement('tiplis').errors?.['required'] && getFormElement('tiplis').touched"
            jhiTranslate="entity.validation.required"
            >Questo campo è obbligatorio</small
          >
        </div>
      </div>
    </div>
  </form>
</div>
