.float-right {
  float: right;
}

.red {
  background-color: #d8042c;
}

.white {
  color: white;
}

.bold {
  font-weight: bold;
}

.txt-sm {
  font-size: 0.9em;
}

.float-left {
  float: left;
}

.odd {
  background-color: white;
}

.even {
  background-color: whitesmoke;
}

.container-fluid {
  padding-left: 5.5em !important;
  padding-right: 5.5em !important;
}

.border-smoke {
  border-bottom-color: whitesmoke;
}
