<h5 class="fw-bold" jhiTranslate="ammRuoli.home.titleSearchToolbar">Gestione ruoli</h5>
<jhi-alert *ngIf="viewDelete"></jhi-alert>
<jhi-alert-error *ngIf="viewError"></jhi-alert-error>
<div class="row mb-4 mt-4">
  <!-- Campo ricerca utenti -->
  <div class="col-4">
    <form>
      <div class="form-group mx-sm-0 mb-0">
        <label for="searchString" class="visually-hidden" jhiTranslate="ammRuoli.home.labelSearchString">Cerca ruoli</label>
        <input
          type="text"
          class="form-control-md"
          name="searchString"
          [placeholder]="'ammRuoli.home.labelSearchString' | translate"
          [formControl]="filter"
          id="searchString"
        />
        <span class="autocomplete-icon" aria-hidden="true">
          <svg class="icon icon-sm"><use href="content/bootstrap-italia/svg/sprites.svg#it-search"></use></svg>
        </span>
      </div>
    </form>
  </div>

  <!-- Bottone Esporta -->
  <div class="col-5 offset-3 d-flex justify-content-end">
    <!-- <div class="d-flex d-grid gap-2 d-md-block justify-content-end"> -->
    <button class="btn btn-primary btn-sml btn-xs btn-me h-100 w-100" type="button" (click)="exportToCSV()">
      <svg class="icon icon-white">
        <use href="content/bootstrap-italia/svg/sprites.svg#it-download"></use>
      </svg>
      <span jhiTranslate="global.buttons.labelExport">Esporta dati</span>
    </button>
    <!-- Bottone inserimento nuovo-->
    <button
      class="btn btn-danger btn-sml btn-xs btn-me h-100 w-100"
      type="button"
      (click)="nuovoRuolo()"
      style="margin-left: 15px !important"
      *ngIf="rolesCheckService.isPresent('/inserisciRuolo')"
    >
      <svg class="icon icon-white">
        <use href="content/bootstrap-italia/svg/sprites.svg#it-plus"></use>
      </svg>
      <span jhiTranslate="global.buttons.labelNew">Inserisci nuovo ruolo</span>
    </button>
  </div>
</div>

<!--<div class="table-responsive">   -->
<!-- <span class="fw-bold" *ngIf="service.loading$ | async" jhiTranslate="global.waitLoad">Attendere...</span> -->
<!-- Tabella ruoli -->
<table class="table table-borderless table-responsive w-50">
  <thead>
    <tr>
      <th scope="col" sortable="codruo" (sort)="onSort($event)" jhiTranslate="ammRuoli.codruo"><span>Codice ruolo</span></th>
      <th scope="col" sortable="desruo" (sort)="onSort($event)" jhiTranslate="ammRuoli.desruo"><span>Descrizione ruolo</span></th>
    </tr>
  </thead>
  <tbody *ngIf="profiliFiltered$ != null">
    <tr
      *ngFor="let ruolo of (profiliFiltered$ | async)! | paginate: config; index as i"
      [ngClass]="i % 2 == 0 ? 'even border-smoke border-left' : 'odd border-white border-left'"
      (click)="apriDettaglio(ruolo.id)"
    >
      <td class="txt-sm" [innerHtml]="ruolo.codruo | highlight: filter.value"></td>
      <td class="txt-sm">{{ ruolo.desruo || '-' }}</td>
    </tr>
    <tr>
      <td *ngIf="(profiliFiltered$ | async)?.length == 0" class="bold border-white" colspan="6" style="color: gray">
        Nessun risultato trovato
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="profiliFiltered$ != null">
  <nav class="pagination-wrapper justify-content-center" aria-label="Navigazione centrata">
    <!-- <pagination-controls class="my-pagination" [maxSize]="9" previousLabel="" nextLabel="" (pageChange)="pageChanged($event)"></pagination-controls> -->
    <pagination-template
      #p="paginationApi"
      (pageChange)="config.currentPage = $event"
      (pageBoundsCorrection)="config.currentPage = $event"
      [maxSize]="maxSize"
    >
      <ul class="pagination custom-pagination">
        <li class="page-item" [class.disabled]="p.isFirstPage()">
          <a class="page-link" (click)="p.previous()" tabindex="-1" aria-hidden="true">
            <svg class="icon icon-primary"><use href="content/bootstrap-italia/svg/sprites.svg#it-chevron-left"></use></svg>
            <span class="visually-hidden" jhiTranslate="page.previous">Pagina precedente</span>
          </a>
        </li>
        <li *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value" class="page-item">
          <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value" class="page-link">
            <span>{{ page.label }}</span>
          </a>
          <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() === page.value" class="page-link" aria-current="page">
            <span class="d-inline-block d-sm-none">Pagina </span>{{ page.label }}
          </a>
        </li>
        <li class="page-item pagination-next" [class.disabled]="p.isLastPage()">
          <a class="page-link" (click)="p.next()" tabindex="-1" aria-hidden="true">
            <span class="visually-hidden" jhiTranslate="page.next">Pagina successiva</span>
            <svg class="icon icon-primary"><use href="content/bootstrap-italia/svg/sprites.svg#it-chevron-right"></use></svg>
          </a>
        </li>
      </ul>
      <p class="text-center">Totale {{ p.getTotalItems() }} elementi</p>
    </pagination-template>
  </nav>
</div>
