<jhi-spinner></jhi-spinner>
<div class="container-fluid mt-4">
  <div class="row justify-content-between mb-4">
    <div class="col d-flex align-items-center">
      <h5 class="bold" *ngIf="this.id != ''" jhiTranslate="ammRuoli.detail.titleModify">Dettaglio ruolo</h5>
      <h5 class="bold" *ngIf="this.id == ''" jhiTranslate="ammRuoli.detail.titleNew">Nuovo ruolo</h5>
    </div>
  </div>
  <!--alert modifica / inserimento -->
  <jhi-alert *ngIf="viewAlert"></jhi-alert>
  <jhi-alert-error *ngIf="viewError"></jhi-alert-error>

  <!-- Form modifica utente / inserimento nuovo utente-->
  <form [formGroup]="formRuolo" *ngIf="formRuolo">
    <div class="d-grid gap-3 d-md-block">
      <button
        class="btn btn-primary btn-sml btn-xs btn-me min-wh-25 mb-1"
        (click)="submitForm()"
        *ngIf="modifica ? rolesCheckService.isPresent('/modificaRuolo') : rolesCheckService.isPresent('/inserisciRuolo')"
        data-bs-target="#myNotification"
        data-bs-timeout="5000"
      >
        <svg class="icon icon-white ms-1">
          <use href="content/bootstrap-italia/svg/sprites.svg#it-pencil" *ngIf="this.id != ''"></use>
          <use href="content/bootstrap-italia/svg/sprites.svg#it-plus" *ngIf="this.id == ''"></use>
        </svg>
        <span>{{ stringSalva }}</span>
      </button>
      <button
        class="btn btn-danger btn-sml btn-xs btn-me min-wh-25 mb-1"
        *ngIf="this.id != '' && rolesCheckService.isPresent('/cancellaRuolo')"
        (click)="submitDelete()"
      >
        <svg class="icon icon-white ms-1">
          <use href="content/bootstrap-italia/svg/sprites.svg#it-delete"></use>
        </svg>
        <span jhiTranslate="global.buttons.labelDelete">Cancella</span>
      </button>
      <button class="btn btn-primary btn-sml btn-xs btn-me min-wh-25 mb-1 btnReload" *ngIf="this.id != ''" (click)="reload()">
        <div class="rotateRefresh d-inline-block">
          <svg class="icon icon-white ms-1">
            <use href="content/bootstrap-italia/svg/sprites.svg#it-restore"></use>
          </svg>
        </div>
        <span jhiTranslate="global.buttons.labelReload">Ricarica informazioni</span>
      </button>
    </div>
    <!-- Prima riga con Username, nome e cognome-->
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label-sm" jhiTranslate="ammRuoli.codruoForm">Codice ruolo*</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="!getFormElement('codruo').valid && getFormElement('codruo').touched ? 'is-invalid' : ''"
            id="codruo"
            formControlName="codruo"
            value="codruo"
            placeholder=" "
          />
          <small
            class="form-text text-danger"
            *ngIf="getFormElement('codruo').errors?.['required'] && getFormElement('codruo').touched"
            jhiTranslate="entity.validation.required"
            >Questo campo è obbligatorio</small
          >
          <small
            class="form-text text-danger"
            *ngIf="getFormElement('codruo').errors?.['pattern']"
            jhiTranslate="entity.validation.sanitize"
            >Ci sono caratteri non validi</small
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label-sm" jhiTranslate="ammRuoli.desruoForm">Descrizione ruolo*</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="!getFormElement('desruo').valid && getFormElement('desruo').touched ? 'is-invalid' : ''"
            id="desruo"
            formControlName="desruo"
            value="desruo"
            placeholder=" "
          />
          <small
            class="form-text text-danger"
            *ngIf="getFormElement('desruo').errors?.['required'] && getFormElement('desruo').touched"
            jhiTranslate="entity.validation.required"
            >Questo campo è obbligatorio</small
          >
        </div>
      </div>
    </div>
  </form>
</div>
