<jhi-spinner></jhi-spinner>
<div class="container-fluid mt-4">
  <div class="row justify-content-between mb-4">
    <div class="col d-flex align-items-center">
      <h5 class="bold" *ngIf="this.id != ''" jhiTranslate="dizMacroProg.detail.titleModify">Dettaglio macro progetto</h5>
      <h5 class="bold" *ngIf="this.id == ''" jhiTranslate="dizMacroProg.detail.titleNew">Nuovo macro progetto</h5>
    </div>
  </div>
  <!--alert modifica / inserimento -->
  <jhi-alert *ngIf="viewAlert"></jhi-alert>
  <jhi-alert-error *ngIf="viewError"></jhi-alert-error>

  <!-- Form modifica / inserimento nuovo -->
  <form [formGroup]="formMacroProg" *ngIf="formMacroProg">
    <div class="d-grid gap-3 d-md-block">
      <button
        class="btn btn-primary btn-sml btn-xs btn-me min-wh-25"
        (click)="submitForm()"
        *ngIf="modifica ? rolesCheckService.isPresent('/modificaMacroProgetto') : rolesCheckService.isPresent('/inserisciMacroProgetto')"
        data-bs-target="#myNotification"
        data-bs-timeout="5000"
      >
        <svg class="icon icon-white ms-1">
          <use href="content/bootstrap-italia/svg/sprites.svg#it-pencil"></use>
        </svg>
        <span>{{ stringSalva }}</span>
      </button>
      <button
        class="btn btn-danger btn-sml btn-xs btn-me min-wh-25"
        (click)="submitDelete()"
        *ngIf="this.id != '' && rolesCheckService.isPresent('/cancellaMacroProgetto')"
      >
        <svg class="icon icon-white ms-1">
          <use href="content/bootstrap-italia/svg/sprites.svg#it-delete"></use>
        </svg>
        <span jhiTranslate="global.buttons.labelDelete">Cancella</span>
      </button>
      <button class="btn btn-primary btn-sml btn-xs btn-me min-wh-25 btnReload" (click)="reload()" *ngIf="this.id != ''">
        <div class="rotateRefresh d-inline-block">
          <svg class="icon icon-white ms-1">
            <use href="content/bootstrap-italia/svg/sprites.svg#it-restore"></use>
          </svg>
        </div>
        <span jhiTranslate="global.buttons.labelReload">Ricarica informazioni</span>
      </button>
    </div>
    <!-- Prima riga con codice, descrizione e tipfinda-->
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="livuno" class="form-label-sm" jhiTranslate="dizMacroProg.codmacproForm">Codice*</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="!getFormElement('codmacpro').valid && getFormElement('codmacpro').touched ? 'is-invalid' : ''"
            id="codmacpro"
            formControlName="codmacpro"
            value="codmacpro"
            min="0"
            placeholder=" "
          />
          <small
            class="form-text text-danger"
            *ngIf="getFormElement('codmacpro').errors?.['required'] && getFormElement('codmacpro').touched"
            jhiTranslate="entity.validation.required"
            >Questo campo è obbligatorio</small
          >
          <small
            class="form-text text-danger"
            *ngIf="getFormElement('codmacpro').errors?.['pattern']"
            jhiTranslate="entity.validation.sanitize"
            >Ci sono caratteri non validi</small
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <label for="livdue" class="form-label-sm" jhiTranslate="dizMacroProg.desmacproForm">Descrizione*</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="!getFormElement('desmacpro').valid && getFormElement('desmacpro').touched ? 'is-invalid' : ''"
            id="desmacpro"
            formControlName="desmacpro"
            value="desmacpro"
            min="0"
            placeholder=" "
          />
          <small
            class="form-text text-danger"
            *ngIf="getFormElement('desmacpro').errors?.['required'] && getFormElement('desmacpro').touched"
            jhiTranslate="entity.validation.required"
          >
            Questo campo contiene un valore non valido. Selezionare un valore valido dalla lista oppure lasciarla vuota</small
          >
          <small
            class="form-text text-danger"
            *ngIf="getFormElement('desmacpro').errors?.['pattern']"
            jhiTranslate="entity.validation.sanitize"
            >Ci sono caratteri non validi</small
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <label for="tipFinDaAuto" class="form-label-sm" jhiTranslate="dizMacroProg.id_tipfindaForm">Tipo fin. Da*</label>
          <div class="input-group">
            <input
              id="tipFinDaAuto"
              type="text"
              class="form-control"
              [ngbTypeahead]="searchTipFinDa"
              [resultFormatter]="formatterTipFinDa"
              [inputFormatter]="formatterTipFinDa"
              [editable]="false"
              [ngClass]="
                !getFormElement('proTipfinByIdTipfinda').valid && getFormElement('proTipfinByIdTipfinda').touched ? 'is-invalid' : ''
              "
              formControlName="proTipfinByIdTipfinda"
              value="proTipfinByIdTipfinda"
              placeholder=" "
            />
            <span class="autocomplete-icon" aria-hidden="true">
              <svg class="icon icon-xs"><use href="content/bootstrap-italia/svg/sprites.svg#it-search"></use></svg>
            </span>
          </div>
          <small
            class="form-text text-danger"
            *ngIf="textTipFinDa != '' && getFormElement('proTipfinByIdTipfinda').value == null"
            jhiTranslate="entity.validation.nullValue"
            >Questo campo contiene un valore non valido. Selezionare un valore valido dalla lista oppure lasciarla vuota</small
          >
        </div>
      </div>
    </div>

    <!-- Seconda riga con tipfina-->
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="tipFinaAuto" class="form-label-sm" jhiTranslate="dizMacroProg.id_tipfinaForm">Tipo fin. A*</label>
          <div class="input-group">
            <input
              id="tipFinaAuto"
              type="text"
              class="form-control"
              [ngbTypeahead]="searchTipFinA"
              [resultFormatter]="formatterTipFinA"
              [inputFormatter]="formatterTipFinA"
              [editable]="false"
              [ngClass]="
                !getFormElement('proTipfinByIdTipfina').valid && getFormElement('proTipfinByIdTipfina').touched ? 'is-invalid' : ''
              "
              formControlName="proTipfinByIdTipfina"
              value="proTipfinByIdTipfina"
              placeholder=" "
            />
            <span class="autocomplete-icon" aria-hidden="true">
              <svg class="icon icon-xs"><use href="content/bootstrap-italia/svg/sprites.svg#it-search"></use></svg>
            </span>
          </div>
          <small
            class="form-text text-danger"
            *ngIf="textTipFinA != '' && getFormElement('proTipfinByIdTipfina').value == null"
            jhiTranslate="entity.validation.nullValue"
            >Questo campo è obbligatorio</small
          >
        </div>
      </div>
    </div>
  </form>
</div>
