@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@font-face {
  font-family: 'philosopher-reg';
  src: url('../bootstrap-italia/fonts/Philosopher/Philosopher-Regular.ttf');
}

/* ==============================================================
Bootstrap tweaks
===============================================================*/
/* Works on Firefox */
* {
  scrollbar-width: thin !important;
  scrollbar-color: #65676a #ffff !important;
}

html {
  height: 100% !important;
}
body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

body {
  min-height: 100%;
}

html:has(.modal-dialog:active) {
  overflow: hidden !important;
}

html:has(#spinnerLoading) {
  overflow: hidden !important;
}

.backdrop-container {
  z-index: 3000 !important;
  overflow: hidden !important;
}

.joyride-step__holder {
  z-index: 4000 !important;
  position: fixed;
}

.transparent {
  color: transparent;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a {
  color: #533f03;
  font-weight: bold;
}
:root {
  ::-webkit-scrollbar {
    color: rgba(0, 0, 0, 0.5);
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

a:hover {
  color: #533f03;
  cursor: pointer;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 2.5%;
  margin-top: 20px;
  border: none;
}

.jh-card-pad {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.form-control {
  background-color: #fff;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity list page css
========================================================================== */

.table-entities thead th .d-flex > * {
  margin: auto 0;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0px;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}

.min-wh-25 {
  min-width: 25%;
}

.min-wh-80 {
  min-width: 80px !important;
}

.min-wh-130 {
  min-width: 130px !important;
}

.min-wh-150 {
  min-width: 150px !important;
}

.modal-dialog {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.modal-dialog::-webkit-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  display: none !important;
}

.min-wh-300 {
  min-width: 300px !important;
}

.min-wh-180 {
  min-width: 180px;
}

.min-wh-250 {
  min-width: 250px;
}

.border-left {
  -webkit-box-shadow: -9px 0px 0px -6px orange !important;
  -moz-box-shadow: -9px 0px 0px -6px orange !important;
  box-shadow: -9px 0px 0px -6px orange !important;
}

.border-left-no-hover {
  -webkit-box-shadow: -9px 0px 0px -6px orange !important;
  -moz-box-shadow: -9px 0px 0px -6px orange !important;
  box-shadow: -9px 0px 0px -6px orange !important;
}

.border-left:hover {
  transition: 0.5s linear;
  -webkit-box-shadow: -15px 0px 0px -6px orange !important;
  -moz-box-shadow: -15px 0px 0px -6px orange !important;
  box-shadow: -15px 3px 0px -6px orange !important;
  cursor: pointer;
  transform: scale(1.01);
}

.btn-sml {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].desc:after,
th[sortable].asc:after {
  content: '\23F7';
  display: block;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: left;
}

th[sortable].desc:after {
  content: '\23F6';
}

.dropdown-item.active {
  color: black !important;
}

.btn-primary:disabled {
  color: #5c5c5c !important;
  background-color: #dbd7d7 !important;
}

ngb-typeahead-window {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.btnReload:hover .rotateRefresh {
  animation: rotating 2s forwards !important;
  animation-delay: 1s;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

.btnReload:not(:hover) .rotateRefresh {
  animation: rotatingReverse 2s forwards !important;
  animation-delay: 1s;
}

@keyframes rotatingReverse {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.7s;
}

.delay-4 {
  animation-delay: 0.8s;
}

.alert-warning {
  animation-duration: 0.6s;
  animation-name: animate-fade;
  animation-fill-mode: backwards;
  animation-delay: 0.4s;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.cursor-pointer {
  cursor: pointer;
}
